body
{
  height: 100%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
}
hr {
  margin-top: 0;
  margin-bottom: -4px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.79);
  width: 30rem;
}
.bottom-line {
  margin-bottom: 3rem;
}
/* NAVBAR *************************************************************************/
.navbar-collapse {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0);
}
.dropdown-menu {
  background-color: rgb(240, 240, 240)!important;
}
.open {
  text-align: right!important;
}
.nav>li>a.dropdown-toggle:focus, .nav>li>a.dropdown-toggle:hover {
  background-color: transparent!important;
}
li.disp-none {
  display: none;
}
div.logo-float
{
  float: left;
}
li:active {
  text-decoration: none;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  border: none;
}
.nav>li>a:focus, .nav>li>a:active {
  color: rgb(3,200,235);
}
.active {
  background-color: rgb(3,160,235)!important;
  border-radius: 20px;
  height: 4rem;
  color: white!important;
}
.logo-button:active{
  background-color: transparent;
}

nav.navbar.navbar-fix-top
{
  padding-top: 1.5rem;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
}
button.logo-button
{
  background-image: url('../images/temp-watch-white.gif');
  background-size: contain;
  background-repeat: no-repeat;
  height: 5.5rem;
  width: 13rem;
  background-color: transparent;
  border: none;
}
ul
{
  text-decoration: none;
  list-style: none;
}
.navbar-right
{
  float: right!important;
}
.navbar-nav>li
{
  float: left;
  margin-left: 1.5rem;
}
.nav-container {
  padding: 1rem 0rem;
}
.nav>li
{
  position: relative;
}
.nav>li>a {
  padding: .75rem 1rem;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.6rem;
}
.nav>li>a:hover
{
  background-color: transparent;
}
a#services-btn:hover {
  color: rgb(3,160,235)!important;
}
a#applications:hover {
  color: rgb(3,160,235)!important;
}
a#contact-us:hover {
  color: rgb(3,160,235)!important;
}
a.active#contact-us {
  color: white!important;
}
a.active#applications {
  color: white!important;
}
a.active#services-btn {
  color: white!important;
}
/* HEAER *************************************************************************/

header {
  background-image: url('../images/header-background.jpg');
  background-attachment: fixed;
  height: 80vh;
  min-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -5rem;
  box-shadow: 0px 3px 8px -1px;
  background-size: 100vw;
}
.cta-header-div {
  color: white;
  text-align: center;
  width: 45rem;
  margin: 0 auto;
  margin-top: 18rem;
  left: 20rem;
}
.cta-header-div>h1 {
  font-size: 7rem;
  font-weight: 700;
}
.cta-header-div>h3 {
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 5rem;
}
.cta-header-div>button {
  background-color: rgb(3,160,235);
  border: none;
  height: 7rem;
  width: 25rem;
  border-radius: 6px;
  font-size: 2.5rem;
  font-weight: bolder;
}
.cta-header-div>button:hover {
  background-color: rgb(3,193,235);
}
button:focus {
  border: none;
  outline: none;
}
button:active {
  background-color: rgb(3,200,235);
}


/* SERVICES *************************************************************************/

h2.services-header {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 7rem;
  color: #424242;
}
.our-services>.header-p {
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  margin-bottom: 4.5rem;
  color: rgba(113,113,113,.75);
}
.services-icons>div {
  text-align: center;
  margin: 0 auto;
}
.our-services {
  padding-bottom: 7rem;
}
.circle-icon-check {
  height: 13rem;
  width: auto;
  content: url('../images/check.png');
  text-align: center;
  margin: 0 auto;
  color: white;
}
.circle-icon-heart {
  height: 13rem;
  width: auto;
  content: url('../images/heartbeat.png');
  text-align: center;
  margin: 0 auto;
  color: white;
}
.circle-icon-transmit {
  height: 13rem;
  width: auto;
  content: url('../images/transmit.png');
  text-align: center;
  margin: 0 auto;
  color: white;
}
.col-md-4 {
  position: inherit;
}
.services-fa-heart {
  position: relative;
  top: 2.45rem;
  left: 0.07rem;
}
.services-fa-rss {
  position: relative;
  top: 2.2rem;
  left: .6rem;
}
.services-fa-check {
  position: relative;
  top: 2.2rem;
  left: .4rem;
}
.information>div {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
}
.information>div>h1 {
  font-size: 2rem;
  font-weight: 700;
}
.information>div>p {
  opacity: 1;
  font-weight: 700;
  color: rgba(66,66,66,.75);
}
/* APPLICATIONS *************************************************************************/
.applications {
  min-height: 100rem;
  background-color: #E0E0E0;
  margin: 0 auto;
  padding-top: 5rem;
}
.btn-primary {
  color: transparent;
  background-color: transparent;;
  border: none;
  width: 100%;
  max-width: 300px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none;
}

button.btn.btn-primary {
  padding: 0;
}
.applications>div>h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.applications>div>p {
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  color: rgba(113,113,113,.75);
  font-style: italic;
  margin-bottom: 2.5rem;
}
/*.col-centered {
display:inline-block;
float:none;
text-align:left;
margin-right:-4px;
}*/

.photo-square {
  min-height: 100%;
  width: 33.3333%;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
  /*position: relative;*/
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#a-id {
  max-width: 300px;
}
.info-square {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  padding: 2rem;
  text-align: center;
  max-width: 300px;
}
.image-div {
  max-width: 300px;
}
img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}


/* CONTACT US************************************************************************/

.contact-us {
  height: 50rem;
  padding: 5rem;
}
.contact-us>h1 {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 4.5rem;
}
.contact-us>p {
  text-align: center;
  margin: 0 auto;
  font-style: italic;
  color: rgba(113,113,113,.75);
}
.email-form {
  height: 100%;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  border-right: 1px solid rgba(16,16,16,0.3);
}
.flex-email {
  width: 50%;
  align-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}
form {
  margin: 0 auto;
  font-size: 2rem;
}
.text {
  border: none;
  border-bottom: solid 3px rgb(3,160,235);
  text-align: center;
  width: 30rem;
  line-height: 4rem;
}
.text:focus {
  outline: none;
}
.button-form {
  border: none;
  background-color: rgb(3,160,235);
  color: white;
  border-radius: 20px;
  width: 10rem;
}
.button-form:focus {
  outline: none;
}
.button-form:hover {
  background-color: rgb(3,193,235);
}
.text:hover {
  border-bottom: solid 3px rgb(3,193,235);
}

.flex-info {
  width: 80%;
  align-content: center;
  margin: auto auto;
  margin-top: 15rem;
  text-align: center;
}
.contact-deets>h3{
  text-align: center;
}
.col-md-4 span {
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}
span i.fa {
  font-size: 2rem;
}
.contact-info {
  color: rgba(113,113,113,1);
  font-size: 110%;
}
/*MODAL*****************************************************************************/
.modal-dialog.modal-lg {
  width: 50vw;
  max-width: 50rem;
  margin: 0 auto;
}
.modal-content {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  width: 100%;
}
.modal-content>h3 {
  text-align: center;
}
.modal-content>p {
  padding: 2rem;
  text-align: center;
}
.modal-image {
  width: 100%;
}
/* MEDIA************************************************************************/
@media only screen and (max-width: 1300px) {
  header {
    height: auto;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 1300px) {
  header {
    height: auto;
    min-height: 60vh;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    background-size: 1000px;
    height: auto;
    min-height: 50rem;
  }
}
@media only screen and (max-width: 800px) {
  .email-form.col-md-6 {
    position: inherit;
  }
  .navbar-nav {
    margin: .5px -15px;
  }
  a#services-btn:hover {
    color: inherit!important;
  }
  a#applications:hover {
    color: inherit!important;
  }
  a#contact-us:hover {
    color: inherit!important;
  }
  a.active#services-btn:hover {
    color: white!important;
  }
  a.active#applications:hover {
    color: white!important;
  }
  a.active#contact-us:hover {
    color: white!important;
  }
  header {
    background-position-x: -25rem;
    background-position-y: 0rem;
    background-size: 1500px;
    height: 82vh;
    min-height: 50rem;
  }
  .container.nav-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .email-form {
    border-right: none;
    border-bottom: 1px solid rgba(16,16,16,0.3);
  }
  .email-form.col-md-6 {
    margin-bottom: 0;
  }
  .flex-info {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .our-services {
    padding-top: 4.5rem;
    padding-bottom: 9rem;
  }
  .modal-dialog.modal-lg {
    width: 75vw;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 700px){
  .flex-email {
    width: auto;
  }
  .email-form.col-md-6 {
    position: inherit;

  }
  .email-form {
    border-right: none;
    border-bottom: 1px solid rgba(16,16,16,0.3);
  }
  .text {
    width: 100%;
  }
  .flex-info {
    margin-top: 4rem;
  }
  .button-form {
    width: 8rem;
  }
  .email-form.col-md-6 {
    margin-bottom: 0;
    height: 80%;
  }
  .cta-header-div {
    width: 30rem;
  }
  .cta-header-div>h1 {
    font-size: 4.5rem;
  }
  .cta-header-div>h3 {
    font-size: 2rem;
  }
  button#services {
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
  }
  .photo-square {
    width: 280px;
  }
  li.li-disp-none {
    display: none;
  }
  li.disp-none {
    display: inline-block;
    margin-bottom: .3rem;
  }
  .container.nav-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  nav.navbar.navbar-fix-top {
    height: 7rem;
  }
  button.logo-button {
    margin-top: .9rem;
  }
  .active {
    height: 3rem;
  }
  .flex-info {
    margin-bottom: 5rem;
  }
  h2.services-header {
    margin-top: 4rem;
  }
  .applications>div>h1 {
    margin-top: 3rem;
  }

  header {
    height: 100vh;
    background-position-x: -34rem;
    background-size: 1500px;
    /* height: auto; */
    min-height: 50rem;
    background-position-y: 0rem;
  }
}
.contact-us {
  padding-top: 7rem;
}
}
